<!DOCTYPE html>
<html>
  <head>
    <title>Project 2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>What's up dawg! And welcome to the go to pet adoption database.</p>

    <a href="/about/all">About this Amazing Database!</a> <br/>
    <a href="/organization/all">Where can you adopt a pet?</a> <br/>
    <a href="/pet/all">The cute pets!</a> <br/>
    <a href="/medicalrecord/all">How the cute pets are doing?</a> <br/>
    <a href="/customer/all">Our happy customers!</a> <br/>
    <br/>
    <br/>
    <img src="/images/cute_pets.jpg" width="300px" height="180px" />
    <br/>
  </body>
</html>
