<!DOCTYPE html>
<html>
  <head>
    <title>Project 2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to your go to pet adoption database.</p>

    <a href="/pet/all">The cute pets! - View All</a> <br/>
    <a href="/medicalrecord/all">How the cute pets are doing? - View All</a> <br/>
    <a href="/customer/all">Our loyal customers! - View All</a> <br/>

    <br/>
  </body>
</html>
