<html>
    <head>
        <title>Add New Organization</title>
    </head>
    <body>
        <h1>Add New Organization</h1>
        <form action="/organization/insert" method="get">
            Organization Name: <input id="organization_name" name="organization_name" type="text" />
            <br />
            <br />
            Organization Address: <input id="organization_address" name="organization_address" type="text" />
            <br />
            <br />

            <input type="submit" />

        </form>
    </body>
</html>