<html>
    <head>
        <title>Add New Customer</title>
    </head>
    <body>
        <h1>Add New Customer</h1>
        <form action="/customer/insert" method="get">
            First Name: <input id="customer_fname" name="customer_fname" type="text" />
            <br />
            <br />
            Last Name: <input id="customer_lname" name="customer_lname" type="text" />
            <br />
            <br />
            Address: <input id="customer_address" name="customer_address" type="text" />
            <br />
            <br />

            <input type="submit" />

        </form>
    </body>
</html>